.container {
  margin: 30px auto;
  margin-bottom: 0;
}

body {
  background: url("background.jpg");
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
  text-align: center;
}

.searchResultCity,
.searchResultTemp,
.extraInfo,
.date,
.day,
.temp,
.icon,
.center,
p,
a {
  text-align: center;
}

.col-5 {
  width: 32.666667%;
}
.row {
  max-width: 100%;
}
.form-control {
  font-size: 1rem;
  line-height: 2;
  border-radius: 0.5rem;
  border: 1px solid #a8afb5;
}

.btn-secondary {
  color: #fff;
  background-color: #939597;
}

.card-body {
  padding: 2rem 2rem;
  background: rgb(137 170 177 / 33%);
}
.searchResultCity {
  font-size: 50px;
  margin-bottom: 11px;
}
.topDownTempPosition {
  margin-top: 63px;
}
.searchResultTemp {
  font-size: 66px;
  opacity: 0.8;
}

p {
  margin-top: 20px;
}
p.iconInfo {
  font-size: 20px;
}

.extraInfo {
  font-size: small;
  opacity: 0.9;
}

.br-style {
  border: 3px solid rgba(39, 38, 38, 0.3);
  border-radius: 30px;
}

.celciusPosition {
  position: relative;
  top: -30px;
}

.cityAndDatePosition {
  margin-top: 20px;
}
footer {
  margin-left: 10%;
}
.tempResultPosition {
  padding-top: 10px;
  text-align: center;
}
